
@tailwindcss base;
@tailwindcss utilities;

@import 'tailwindcss';
@plugin 'tailwindcss-animate';



body {
  font-family: 'Lato', sans-serif;
}


@theme {
  --blue-sky:#6CA9D7;
  --blue-green:#7BAFBE;
  --avocado-green:#76B98C;
  --blue-gray:#4A5E77;
}

